dist/
old-dist/
playground/
build/
__pycache__/
.pytest_cache/

docs/_build
docs/.generated
docs/source/reference/.generated

**/.generated/
.generated/

.vscode
.hatch
.ruff_cache

.venv/
.egg-info
.DS_Store